::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #A3A3A3;
}


::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    background-color: transparent;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    justify-items: center;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.bg {
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
    padding-bottom: 120px;
    background-position: center;
    background-size: cover;
}

.no-bg {
    background-color: #eeee;
    margin-bottom: 0px;
    min-height: 600px;
    height: 100%;
}

.container {
    padding-top: 50px;
}

li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style: none;
}

.profile-name {
    border-bottom: 1px solid #DFDFDF;
}

.profile-info {
    padding-bottom: 10px;
}

.profile-text {
    color: #6C757D;
    display: inline;
}

.lang {
    padding-top: 30px;
}

.circle {
    font-weight: bold;
    color: #A8A8A8;
    display: inline;
}

.contact-div {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: center;
    width: auto;
    min-height: inherit;
    position: static;
    overflow: visible;
    display: block;
}

.button-con {
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    padding-top: 50px;
    font-size: 15px;
    line-height: 25px;
    color: #848484;
}